/* Custom classes */
.details-bg-overlay {
  position: relative;
  background-image: url('/images/bg-house-shape.png');
  background-repeat: no-repeat;
  background-position: right 20% bottom;
}

.philosophy-bg-overlay {
  position: relative;
  background-image: url('/images/acceptance-house-icon-bg.png');
  background-repeat: no-repeat;
  background-position: left 10% bottom;
  background-color: #0B1127;
  background-blend-mode: multiply;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add any custom CSS below this line */
