/* Custom classes */
.details-bg-overlay {
  position: relative;
  background-image: url('/images/bg-house-shape.png');
  background-repeat: no-repeat;
  background-position: right 20% bottom;
}

.philosophy-bg-overlay {
  position: relative;
  background-image: url('/images/acceptance-house-icon-bg.png');
  background-repeat: no-repeat;
  background-position: left 10% bottom;
  background-color: #0B1127;
  background-blend-mode: multiply;
}

.form-input-ah {
  @apply block w-full rounded border border-gray-300 bg-white shadow-sm focus:ring-[#5692ba] focus:border-[#5692ba] py-2 px-3 text-base;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add any custom CSS below this line */
