/* Custom classes */
.details-bg-overlay {
  position: relative;
  background-image: url('/images/bg-house-shape.png');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add any custom CSS below this line */
